.seven-sec {
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;

}
.seven-wrap{
    transform: translateY(120px);
    transition: .3s;
}
.seven-item{
    transition: transform .9s cubic-bezier(.075,.82,.165,1);
}
.seven-pgh{
    text-transform: uppercase;
    font-size: 6.25rem;
    white-space: nowrap;
    color: #fff;
    @include perp;
    line-height: 1.1;
}

.seven-item-f,
.seven-item-s,
.seven-item-t{
    transform: scale3d(1,0,0);
}
.seven-item-f{
    transition-delay: .5s;
}
.seven-item-s{
    transition-delay: 1.5s;
}
.seven-item-t{
    transition-delay: 2.5s;
}
.trans-off{
    transform: scale3d(1,1,1);
}

