@import 'null';
@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
    }
}
@import 'fonts';
@import 'var';
@import 'header';
@import 'media';
html{
    font-family: 'Karla','Helvetica','Arial',sans-serif;
    font-size: 12px;
    font-weight: 500;
}
.wrapper{
    min-height: 100vh;
}

.content{
    margin: 0 auto;
    max-width: 95%;
}


