.font-default{
  font-size: 1.05rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.font-white{
  color: #ebeded !important;
}
.page-main{
  background-color: #00a19a;
}
.circle-def{
  text-align: center;
}
.flex{
  display: flex;
}
.on-hidden{
  overflow: hidden;
}

@mixin perp{
  font-family: 'PERTILI';
}