.font-default{
  font-size: 1.05rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.page-main,
.th-back-color{
  background-color: #00a19a;
}
.th-color{
  color: #fff;
}
.def-svg{
  stroke-width:6;
  stroke-linecap:round;
  stroke-miterlimit:10;
  stroke-dasharray: 791px;
  stroke-dashoffset: 0;
  fill:none;
  transform: rotateX(180deg);
  transition: stroke-dashoffset 1.2s cubic-bezier(.075,.82,.165,1);
}
$mainColor: #00a19a;
.circle-def{
  text-align: center;
}
.global-flex{
  display: flex;
}
.global-as-center{
  align-self: center;
}
.on-hidden{
  overflow: hidden;
}
.op-none{
  opacity: 0;
  visibility: hidden;
}

@mixin carla {
  font-family: 'Karla', sans-serif;
}
@mixin perp{
  font-family: 'PERTILI';
}