.font-default{
  font-size: 1.05rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.font-white{
  color: #ebeded !important;
}
.page-main{
  background-color: #00a19a;
}
$mainColor: #00a19a;
.circle-def{
  text-align: center;
}
.global-flex{
  display: flex;
}
.global-as-center{
  align-self: center;
}
.on-hidden{
  overflow: hidden;
}
.op-none{
  opacity: 0;
  visibility: hidden;
}
@mixin carla {
  font-family: 'Karla', sans-serif;
}
@mixin perp{
  font-family: 'PERTILI';
}